body {
    /* background-image: url('https://www.juit.ac.in/front/images/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden; 
     filter: blur(2px);
    -webkit-filter: blur(2px); */
  
  
}
.googLog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.jmg{
    width: 80%;
    height: 20vh;
}

.jmg
img{
    width: 100%;
}
.Gsuit{
 
 }
.progress{
}
.created{
    font-family: 'Times New Roman', Times, serif;
}
