.small_Nav{
    background-color: black;
}
.inside{
    display: flex;
    justify-content: space-around;
}
.inside
div{
    cursor: pointer;
}

.logo{
    color: aliceblue!important;
}

.link{
    text-decoration: none!important;
    color: black;
    cursor: pointer;
}