
.form{
    align-items: center;
  ;
}
.text{
    background-color: tomato;
    line-height: 35px;
    color:whitesmoke;
    font-size: 20px;
    font-weight: 500;
 
    
}
.imagePreview{
    justify-content: space-between;
    width: 70%;
    height: auto;
   padding:30px;
    
  }

  .imagePreview img{
    object-fit: fill;
    align-content: center;
    width: 100%;
    height: 70%;
  
  }
  
  
  .upload{
      margin: 10px;
  }
  .grid_img{
      width: 100%;
      height:90vh;
      padding-top: 2px;
  }
.image_input{
    color: tomato;
    text-align: center;
    background-color: cornsilk;
}


@media(max-width: 1068px){
    .style_grid{
        display: none;
    }
  }
  .cat-drop{
    width: 250px;
    color: black;
}